In [1]:
##Group4-ObsInt

In [6]:
import os
import pickle
import pandas as pd
os.getcwd()

'/home/jupyter-s6047025/ProjectWork/notebook'

In [7]:
connection_string = 'postgresql://s6047025:_s6047025_@gip.itc.utwente.nl:5434/c211'

In [8]:
import dask.dataframe as dd
import geopandas as gpd

In [9]:
## read block table and try to filter it down to blocks relevant to Netherlands only. Considering only block and geom
## omit latit with zero values
## select one block from blocks with different block numbers but same geometry.
sqlstring = "WITH blks AS ( SELECT b.* FROM public.block as b WHERE b.latit <>0) SELECT block, longit, latit, geom FROM (SELECT block, longit, latit, geom, ROW_NUMBER() OVER (PARTITION BY (longit, latit) ORDER BY block DESC) rn FROM blks ) tmp WHERE rn = 1"
df_block = gpd.GeoDataFrame.from_postgis(sqlstring, connection_string, geom_col='geom' )

In [10]:
## check header and dimensions
df_block.head()
df_block.shape

(45018, 4)

In [11]:
sql_demog = "select geom, aantal_inw from public.demography where aantal_inw != '-99997'"
df_demography = gpd.GeoDataFrame.from_postgis(sql_demog, connection_string, geom_col='geom' )
df_demog = gpd.sjoin(df_demography, df_block, how="right", op='within')
df_demog.shape
df_demog.head()
df_demog.describe()

         index_left    aantal_inw          block        longit         latit
count  70319.000000  70319.000000   87900.000000  87900.000000  87900.000000
mean   35184.226141    242.000028   25109.933231    165.881433    473.885779
std    20333.309060    507.554571   36237.102200     57.812105     70.798591
min        0.000000      5.000000       1.000000      9.000000    305.000000
25%    17581.500000     10.000000   11954.000000    123.000000    419.000000
50%    35161.000000     25.000000   23816.000000    172.000000    469.000000
75%    52761.500000    170.000000   34539.250000    210.000000    529.000000
max    70543.000000   7390.000000  665176.000000    277.000000    629.000000

In [12]:
##check for cordinate system of geometries
df_block.crs == df_demography.crs

True

In [13]:
# group by block number and sum polpulation. Blocks with NAn population will become 0
# df_block demog will have two columns, 45018 blocks with their cooresponding population
df_block_demog = df_demog.groupby(['block'])['aantal_inw'].sum().reset_index()
df_block_demog.describe()
#rename aantal_inw to pop 
df_block_demog = df_block_demog.rename(columns={'aantal_inw': 'pop'})

In [14]:
df_block_demog.head()

   block  pop
0      1  0.0
1      2  0.0
2      3  0.0
3      4  0.0
4      5  0.0

In [15]:
df_block_demog.describe()

               block           pop
count   45018.000000  45018.000000
mean    24973.337576    378.008796
std     42142.098434   1188.628030
min         1.000000      0.000000
25%     11273.250000      0.000000
50%     22529.500000     15.000000
75%     33819.750000     90.000000
max    665176.000000  22830.000000

In [ ]:
## read observer intensity, weather and road length csv files.
obsIntTable = pd.read_csv('/home/jupyter-s6047025/ProjectWork/input/ObsIntTable.csv',names=['obsint','block','obsdate'])
weather = pd.read_csv('/home/jupyter-s6047025/ProjectWork/input/weather.csv', names=['obsdate','block','temper','precip'])
dfRoads = pd.read_csv('/home/jupyter-s6047025/ProjectWork/input/roadlen.csv', names=['block','roadlen'])

In [ ]:
print(obsIntTable.shape, weather.shape, dfRoads.shape)

In [ ]:
## converting date to seconds from 2017-01-01. This will take about 40 minutes. Did this in dask but got stuck with further processing.
obsIntTable['obstime'] = obsIntTable.obsdate.apply(lambda x: (pd.to_datetime(x)-pd.to_datetime('2017-01-01')).total_seconds())
weather['obstime'] = weather.obsdate.apply(lambda x: (pd.to_datetime(x)-pd.to_datetime('2017-01-01')).total_seconds())

In [ ]:
## merge observer intensity with weather values
#obsInt_weather= pd.merge(obsIntTable, weather, how='right', on=['block','obsdate'])
##for using time in seconds
obsInt_weather= pd.merge(obsIntTable, weather, how='right', on=['block','obstime'])
print(obsInt_weather.shape)

In [ ]:
## checking for null values
obsInt_weather.isnull().sum()

In [ ]:
## fill na's with 0. Observer intensity for dates with no observations.
obsInt_weather['obsint'].fillna(0, inplace=True)

In [ ]:
## merge demography and road length
df_block_demog_roadlen = pd.merge(df_block_demog, dfRoads, how='left', on=['block'])
print(df_block_demog_roadlen.shape)

In [ ]:
#obsInt_with_variables = obsInt_weather_demog_roadlen[['block','longit','latit','obsdate','temper','precip','pop','roadlen','obsint']]
## selecting observation time instead of date
obsInt_obsTime_with_variables = obsInt_weather_demog_roadlen[['block','longit','latit','obstime','temper','precip','pop','roadlen','obsint']]

In [ ]:
#obsInt_with_variables.to_csv ('/home/jupyter-s6047025/ProjectWork/input/obsInt_with_variables.csv', index = False, header=True)
## to csv for observation time instead of date
obsInt_obsTime_with_variables.to_csv ('/home/jupyter-s6047025/ProjectWork/input/obsInt_obsTime_with_variables.csv', index = False, header=True)