In [1]:
##Group4-ObsInt

In [2]:
import os
import pickle
import pandas as pd
os.getcwd()

'/home/jupyter-s6047025/ProjectWork/input'

In [3]:
connection_string = 'postgresql://s6047025:_s6047025_@gip.itc.utwente.nl:5434/c211'

In [4]:
import dask.dataframe as dd
import geopandas as gpd

In [5]:
## read block table and try to filter it down to blocks relevant to Netherlands only. Considering only block and geom
## omit latit with zero values
## select one block from blocks with different block numbers but same geometry.
sqlstring = "WITH blks AS ( SELECT b.* FROM public.block as b WHERE b.latit <>0) SELECT block, longit, latit, geom FROM (SELECT block, longit, latit, geom, ROW_NUMBER() OVER (PARTITION BY (longit, latit) ORDER BY block DESC) rn FROM blks ) tmp WHERE rn = 1"
df_block = gpd.GeoDataFrame.from_postgis(sqlstring, connection_string, geom_col='geom' )

In [6]:
## check header and dimensions
print(df_block.head(), df_block.shape)

   block  longit  latit                                               geom
0      1       9    390  POLYGON ((9000.000 390000.000, 9000.000 391000...
1      2      10    388  POLYGON ((10000.000 388000.000, 10000.000 3890...
2      3      10    389  POLYGON ((10000.000 389000.000, 10000.000 3900...
3      4      10    390  POLYGON ((10000.000 390000.000, 10000.000 3910...
4      5      10    391  POLYGON ((10000.000 391000.000, 10000.000 3920... (45018, 4)

In [7]:
sql_demog = "select geom, aantal_inw from public.demography where aantal_inw != '-99997'"
df_demography = gpd.GeoDataFrame.from_postgis(sql_demog, connection_string, geom_col='geom' )
df_demog = gpd.sjoin(df_demography, df_block, how="right", op='within')
df_demog.shape
df_demog.head()
df_demog.describe()

         index_left    aantal_inw          block        longit         latit
count  70319.000000  70319.000000   87900.000000  87900.000000  87900.000000
mean   35184.226141    242.000028   25109.933231    165.881433    473.885779
std    20333.309060    507.554571   36237.102200     57.812105     70.798591
min        0.000000      5.000000       1.000000      9.000000    305.000000
25%    17581.500000     10.000000   11954.000000    123.000000    419.000000
50%    35161.000000     25.000000   23816.000000    172.000000    469.000000
75%    52761.500000    170.000000   34539.250000    210.000000    529.000000
max    70543.000000   7390.000000  665176.000000    277.000000    629.000000

In [8]:
##check for cordinate system of geometries
df_block.crs == df_demography.crs

True

In [9]:
# group by block number and sum polpulation. Blocks with NAn population will become 0
# df_block demog will have two columns, 45018 blocks with their cooresponding population
df_block_demog = df_demog.groupby(['block','longit','latit'])['aantal_inw'].sum().reset_index()
df_block_demog.describe()
#rename aantal_inw to pop 
df_block_demog = df_block_demog.rename(columns={'aantal_inw': 'pop'})

In [10]:
df_block_demog.head()

   block  longit  latit  pop
0      1       9    390  0.0
1      2      10    388  0.0
2      3      10    389  0.0
3      4      10    390  0.0
4      5      10    391  0.0

In [11]:
df_block_demog.describe()

               block        longit         latit           pop
count   45018.000000  45018.000000  45018.000000  45018.000000
mean    24973.337576    161.795637    483.969523    378.008796
std     42142.098434     59.818906     74.881321   1188.628030
min         1.000000      9.000000    305.000000      0.000000
25%     11273.250000    119.000000    423.000000      0.000000
50%     22529.500000    167.000000    482.000000     15.000000
75%     33819.750000    207.000000    547.000000     90.000000
max    665176.000000    277.000000    629.000000  22830.000000

In [13]:
## read observer intensity, weather and road length csv files.
obsIntTable = pd.read_csv(os.getcwd() +'/ObsIntTable.csv',names=['obsint','block','obsdate'])
weather = pd.read_csv(os.getcwd() +'/weather.csv', names=['obsdate','block','temper','precip'])
dfRoads = pd.read_csv(os.getcwd() +'/roadlen.csv', names=['block','roadlen'])

In [13]:
print(obsIntTable.shape, weather.shape, dfRoads.shape) ## final obser intensity table will have 7270756 rows.

(537774, 3) (7270756, 4) (34258, 2)

In [14]:
## converting date to seconds from 2017-01-01. This will take about 40 minutes. Did this in dask but got stuck with further processing.
obsIntTable['obstime'] = obsIntTable.obsdate.apply(lambda x: (pd.to_datetime(x)-pd.to_datetime('2017-01-01')).total_seconds())
weather['obstime'] = weather.obsdate.apply(lambda x: (pd.to_datetime(x)-pd.to_datetime('2017-01-01')).total_seconds())

In [16]:
## merge observer intensity with weather values
#obsInt_weather= pd.merge(obsIntTable, weather, how='right', on=['block','obsdate'])
##for using time in seconds
obsInt_weather= pd.merge(obsIntTable, weather, how='right', on=['block','obstime'])
print(obsInt_weather.shape)

(7270756, 7)

In [17]:
## checking for null values
obsInt_weather.isnull().sum()

obsint       6735343
block              0
obsdate_x    6735343
obstime            0
obsdate_y          0
temper             0
precip             0
dtype: int64

In [18]:
## fill na's with 0. Observer intensity for dates with no observations.
obsInt_weather['obsint'].fillna(0, inplace=True)

In [19]:
## merge demography and road length
df_block_demog_roadlen = pd.merge(df_block_demog, dfRoads, how='left', on=['block'])
print(df_block_demog_roadlen.shape)

(45018, 5)

In [20]:
## set road length to 0 for blocks with no road length data
df_block_demog_roadlen['roadlen'].fillna(0, inplace=True)

In [21]:
## merge observer intensity and weather with demography and road length
obsInt_weather_demog_roadlen= pd.merge(obsInt_weather, df_block_demog_roadlen, how='left', on=['block'])
print(obsInt_weather_demog_roadlen.shape,obsInt_weather_demog_roadlen.columns)

(7270756, 11) Index(['obsint', 'block', 'obsdate_x', 'obstime', 'obsdate_y', 'temper',
       'precip', 'longit', 'latit', 'pop', 'roadlen'],
      dtype='object')

In [22]:
#obsInt_with_variables = obsInt_weather_demog_roadlen[['block','longit','latit','obsdate','temper','precip','pop','roadlen','obsint']]
## selecting observation time instead of date
obsInt_obsTime_with_variables = obsInt_weather_demog_roadlen[['block','longit','latit','obstime','temper','precip','pop','roadlen','obsint']]
print(obsInt_obsTime_with_variables.isnull().sum(), obsInt_obsTime_with_variables.shape)

block      0
longit     0
latit      0
obstime    0
temper     0
precip     0
pop        0
roadlen    0
obsint     0
dtype: int64 (7270756, 9)

In [23]:
#obsInt_with_variables.to_csv (os.path.normpath(os.getcwd()+os.sep+os.pardir)+'/output/obsInt_with_variables.csv', index = False, header=True)
## to csv for observation time instead of date
obsInt_obsTime_with_variables.to_csv (os.path.normpath(os.getcwd()+os.sep+os.pardir) + '/output/obsInt_obsTime_with_variables.csv', index = False, header=True)