In [1]:
connection_string = 'postgresql://s2052814:_s2052814_@gip.itc.utwente.nl:5434/c211'
import dask.dataframe as dd
dfObservation = dd.read_sql_table(table='observation', uri=connection_string, index_col='id', npartitions=50)

In [2]:
import os
os.getcwd()

'/home/jupyter-s2052814'

In [37]:
# read block table and try to filter it down to blocks relevant to Netherlands only. Considering only block and geom
# omit latit with zero values
# select one block from blocks with different block numbers but same geometry.
import pandas as pd
import dask.dataframe as dd
import geopandas as gpd
sqlstring = "WITH blks AS ( SELECT b.* FROM public.block as b WHERE b.latit <>0) SELECT block, longit, latit, geom FROM (SELECT block, longit, latit, geom, ROW_NUMBER() OVER (PARTITION BY (longit, latit) ORDER BY block DESC) rn FROM blks ) tmp WHERE rn = 1"
df_block = gpd.GeoDataFrame.from_postgis(sqlstring, connection_string, geom_col='geom' )

In [4]:
# check header and dimensions
df_block.head()
df_block.shape

(45018, 4)

In [5]:
sql_demog = "select geom, aantal_inw from public.demography where aantal_inw != '-99997'"
df_demography = gpd.GeoDataFrame.from_postgis(sql_demog, connection_string, geom_col='geom' )
df_demog = gpd.sjoin(df_demography, df_block, how="right", op='within')
df_demog.shape
df_demog.head()
df_demog.describe()

         index_left    aantal_inw          block        longit         latit
count  70319.000000  70319.000000   87900.000000  87900.000000  87900.000000
mean   35184.226141    242.000028   25109.933231    165.881433    473.885779
std    20333.309060    507.554571   36237.102200     57.812105     70.798591
min        0.000000      5.000000       1.000000      9.000000    305.000000
25%    17581.500000     10.000000   11954.000000    123.000000    419.000000
50%    35161.000000     25.000000   23816.000000    172.000000    469.000000
75%    52761.500000    170.000000   34539.250000    210.000000    529.000000
max    70543.000000   7390.000000  665176.000000    277.000000    629.000000

In [6]:
#check for cordinate system of geometries
df_block.crs == df_demography.crs

True

In [7]:
# group by block number and sum polpulation. Blocks with NAn population will become 0
# df_block demog will have two columns, 45018 blocks with their cooresponding population
df_block_demog = df_demog.groupby(['block'])['aantal_inw'].sum().reset_index()
df_block_demog.describe()
#rename aantal_inw to pop 
df_block_demog = df_block_demog.rename(columns={'aantal_inw': 'pop'})

In [34]:
#Loading the tables from pgAdmin database
dfPrecipitation = dd.read_sql_table(table = 'precipitation', uri = connection_string, index_col = 'id', npartitions = 50)
dfTemperature = dd.read_sql_table(table = 'temperature', uri = connection_string, index_col = 'id', npartitions = 50)
dfRoads = dd.read_sql_table(table = 'block_road_access', uri = connection_string, index_col = 'block', npartitions = 50)

In [51]:
#Merging temperature and precipitation tables
dfTempfull = dfTemperature.merge(dfPrecipitation, left_index = True, right_index = True)
dfTempfull = dfTempfull.drop(['dtime_y', 'lat_y', 'lon_y', 'corner_y', 'block_y'], axis = 1)
dfTempfull = dfTempfull.rename(columns = {'dtime_x': 'dtime', 'lat_x': 'lat', 'lon_x': 'lon', 'corner_x': 'corner', 'block_x': 'block'})
dfTempfull.head()

,dtime,lat,lon,temper,corner,block,precip
id,,,,,,,
5577,20170320,50.7668,5.70659,12.9401,0101000020407100002BED4808EFAB0541E1111C8DC0D5...,43440,0.6935
5577,20170320,50.7668,5.70659,12.9401,0101000020407100002BED4808EFAB0541E1111C8DC0D5...,43440,0.0000
5577,20170320,50.7668,5.70659,12.9401,0101000020407100002BED4808EFAB0541E1111C8DC0D5...,43440,0.0000
5577,20170320,50.7668,5.70659,12.9401,0101000020407100002BED4808EFAB0541E1111C8DC0D5...,43440,0.0000
5577,20170320,50.7668,5.70659,12.9401,0101000020407100002BED4808EFAB0541E1111C8DC0D5...,43440,0.0000

In [52]:
#Filter out observation table
dfObservation = dfObservation.drop_duplicates(subset = ['block', 'species'])
#Marking observer intensity
Obs_int = dfObservation.groupby(['obsdate', 'block']).agg({'species': 'count'})

In [13]:
#Making random forest algorithm
from sklearn.ensemble import RandomForestRegressor
from joblib import parallel_backend
xtrain, ytrain, xtest, ytest = m1[:, 1:], m1[:, 0], m2[:, 1:], m2[:, 0]
rf = RandomForestRegressor(n_estimators=100, criterion="mse", max_depth=None, max_features="auto", bootstrap=True,
                           min_samples_split=2, n_jobs=1)

#Finding the important variables
with parallel_backend('dask'):
    %time _ = rf.fit(xtrain, ytrain)
    ypred = rf.predict(xtest)
    zipped_rf = list (zip (labels, rf.feature_importances_))
print("RF: ", r2_score(ytest, ypred))
print(zipped_rf)

In [ ]:
#Plotting matrices
plt.plot(ypred, "o")
plt.plot(ytest, "*")
plt.show()

plt.suptitle("Insert main title here", size=15)

plt.subplot(1, 3, 1)
plt.title("Insert main title here (R2: {0})".format(r2), size=10)
plt.plot(ypred, ytest, "o")
plt.plot(ypred, ypred, "r-", linewidth=2)
plt.xlabel("Insert axis label here", size=10)
plt.ylabel("Insert axis label here", size=10)
plt.xlim(0, 10)
plt.grid()